{% extends 'base.html' %}

{% block content %}
    <h1 style="margin-top:30px;" align="center">Products</h1>
    <div class="col-sm-12" align="center" style="margin-top:20px;">
      <div class="col-md-8 offset-md-2 row">
        {% for item in items %}
          <div style="width:400px;margin:20px;border-radius:10px;" class="card mb-3">
            <div class="row" style="width:100%;">
              <a style="margin-left:20px;float:left;" class="text-danger" href="/delete/{{item['_id']}}"><span class="fa fa-trash"> delete</span></a>
              <a style="margin-left:260px;float:right;" class="text-info" href="/edit/{{item['_id']}}"><span class="fa fa-pencil"></span> edit</a>
            </div>
            <h6 class="card-header">{{item['name']}}</h6>
            <img style="max-width:200px;display: block;" src="{{item['image']}}" alt="Card image">
            <div class="card-body">
              <p><strong>{{item['price']}}</strong></p>
              <p class="text-muted">{{item['description']}}</p>
              <button class="btn btn-outline-primary" style="border-radius:10px;" id="{{item['_id']}}" onclick=addToCart("{{item['_id']}}")>Add to cart</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
